.list{
    display: flex;
    background-color: rgb(207, 199, 197);
    margin-top: 15%;
    padding: 10px;
    border-radius: 10px;
width: 500px;
}

 .item {
position: relative;
display: flex;
width: inherit;
height: fit-content;
flex-direction: row;
border: 1px solid rgb(248, 245, 244);
border-radius: 5px;
}
.pic {
    /* position: absolute; */
    margin: 10px;
    /* top: 10px; */
    /* left: 10px; */

    width: 180px;
    height: 120px;
    background-image: url("../../IMG/burger.png");
    background-size: contain;
}
.info{
    display: flex;
    flex-direction: column;
    align-content:center;
}

.text {
    margin: 30px 90px 5px 0px;
    margin-left: 90px;
    padding: 0px;
    right: 5px;
    color: black;
    
}
p{
    margin: 0px;
    padding: 0px;
}
.number{
    display: flex;
    padding: 0;
    margin: 5px 0px 10px 70px; 
}
.values{
    justify-items:center;
    width: 100px;
    height: 25px;
    padding: 5px;
    margin: 5px 0px 0px 0px;
    border: 1px solid rgb(248, 245, 244);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
button{
margin: 0;
padding: 0;
cursor: pointer;

}
.arrov{
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.up{
border-top-right-radius: 5px;
}
.down{
border-bottom-right-radius: 5px;
}
