.container{
display: flex;
background-color: rgb(241, 246, 246);
}
.shops{
    background-color: rgb(249, 249, 249);
    margin-right: 50px;
    position: relative;
    
}
.card{
    background-color: blueviolet;
}
.shops::after {
    content: " ";
        background: #333333;
        width: 2px;
        height: 30px;
        /* линия смещена на 10px справа от текста*/
        right: -25px;
        top: -5px;
        /* включаем абсолютное позиционирование относительно блока с relative */
        position: absolute;
}